@import "variables";


.container__carillas{
    margin-bottom: 5rem;
    .carillas__texto{
        font-size: $font-size;
        color: gray;
        font-family: $fuente;
        margin-bottom: 2em;

          .carillas__texto--titulo{
              font-size: $font-size + 0.5;
              color: $colorAzul;
              border-bottom: solid 3px $colorAzul;
              
          }
    }
}


