$colorVerde:#5fafab;
.diseno{
        border: 3px solid red;
        height: auto;

    &__parrafo{
        font-size: 25px;
        color: $colorVerde;
        text-align: center;
        &--rojo{
            color:red;
        }
        &--uppercase{
            text-transform: uppercase;
        }
    }
   
}


