
@import"QuienesSomos";
@import"carillas";
@import"estetica";
@import"variables";
@import"contactanos";
@import"ortodoncia";



/* prueba de Css, colore y estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*index*/

.foto{
    width:100%;
    margin:0px 0px -63px;
    position: relative;
    display: flex;
    max-width: 100%;
    object-fit: cover;
  
    
}

.titulo{
    color:$colorAzul;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 4rem;
    position: absolute;
    top:70px;
    left: 69px;
    z-index: 10;
    
    
}
.subtitulo{
    color: $colorAzul;
    text-align: left;
    font-family:'Libre Franklin', sans-serif;
    font-size: 3rem;
    position: absolute;
    z-index: 9;
    top:150px;
    left:70px;
}

.lema{
    color: $colorRosa;
    text-align: left;
    font-family: "libre Franklin", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 8;
    top:250px;
    left:70px;

}
.logo{
    position: absolute;
    z-index:6;
    margin-left:40em;
    margin-top:4em;
}

.index{
    background-image: linear-gradient(to right, rgb(255,218,218), rgb(193, 255, 252));
    
}
.titulosPaginas{
    color:$colorAzul;
    font-size: 40px;
    text-transform: capitalize;
    margin:30px 
}

/*--nav------->*/
.navbar {
	a {
		font-size: 1.3rem;
		font-family: "libre franklin", sans-serif;
		/* padding-right: 6em ; */
		color:gray;        
	}
    .navbar-brand{
        padding-right: 8em;
    }
    
	li {
       /*  padding-right: 4em; */
		a {
			&:hover {
				-webkit-transform: scale(1.03);
				-ms-transform: scale(1.03);
				transform: scale(1.03);
                background-color: transparent;
                color: white;
			}
		}
	}
}

/*contendor turno index*/

.turnoContenedor {
	max-width:100%;
	height:auto;
	background-color:$colorVerde;
	display: flex;
	justify-content: space-around;
	align-items: center;      
	article {
        padding-top: 2em;
		/* width: 30%; */
		height: auto;
		color: white;
		font-family: 'montserrat' Arial, Helvetica, sans-serif;
		font-size: 2.3rem;
		text-align: left;
		text-transform: uppercase;           
    }
}

#exampleModalLabel{
    color:$colorAzul
}
#textocovid{
    color:gray;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.turno {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
    
}
.button {
	background-color: $colorVerde;
	color: white;
	border: 2px solid white;
	padding: 0.5em;
	border-radius: 5px;
    font-size: 1.5rem;
    margin-top:3rem;
    margin-bottom:3rem;
	&:hover {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		background-color: transparent;
		border: 2px solid white;
        color: white;
	}
}


 /*iconos index*/

 .iconosContenedor{   
    background-image: url(../imagenes/cover3.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: auto;
    background-position-y: -100px;
    opacity: .9;   
    
}
.iconosContenedor .row{
    width: 100%;

}


.tituloIconos{   
    font-family: "libre Franklin", sans-serif;
    font-size: 2em;
    text-align: center;
    color: white;
    line-height: 0.8;
    /* margin:2rem; */
    margin-bottom:3em;
    margin-top: 3em;
    max-width: 100%;
    

}

.iconos__texto{
    font-family: "libre Franklin", sans-serif;
    font-size: 1.4rem;
    color: white;
    line-height: 1em;
    margin-left: 0.8em;
    margin-bottom:4em;
    
}
.iconos__texto--titulo{
    font-size:2rem;
    font-weight: bold;
    color: white; 
    margin-left: 0.6em;
}
.iconos--info{
    margin-left:0.5em;
}
.iconos--equipo,
.iconos--financiacion{
    margin-left:0.4em;
    
}
.iconos__texto--estetica{
    margin-left:3em;
}

.iconos--diente{
    margin-left: .5em;  
}
.iconos__texto--info, 
.iconos__texto--financiacion,
.iconos__texto--equipo{
    margin-left:2em;
}


.iconos{
    color:white;
    padding-left: 1em;
    font-size: 5rem;
    margin-bottom:1.5rem;
    
}
.boton{
   /*  grid-row: 4/5;
    grid-column: 1/-1; */
    display: grid;
    justify-items: center;
    margin-bottom:3rem;
}

.buttonIcono{
    background-color:rgba(128, 128, 128,0);
    color:white;
    border: 2px solid white; 
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 2em;     
}

.buttonIcono:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

  
 /*testimonios index*/
 .testimonios {
	margin: 3em auto;
    
	.row {
		margin: 2em;
	}
	.testimonios__titulo {
	text-align: center;
	font-weight: bold;
	color: $colorAzul;
	padding-bottom: 10px;
	text-transform: uppercase;
	&::after {
		content: "";
		background-color: $colorAzul;
		display: block;
		height: 3px;
		width: 30%;
		margin: 0.7em auto 0.3em;
	        }
    }
}

.testimonio {
	margin: 5em auto;	    

    .testimonio__profile {
    	background-color: #efefef;
        padding: 3em 2em;
        
    	&:hover {
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
		transition: 0.5s;
	}  
      	
	.testimonio__foto {
		top: -4em;
		border: 10px solid white;
		margin-bottom: 1em;
		width: 8em;
	    height: 8em;
	    border-radius: 50%;
	    margin-top: -6em;
	}
    .testimonio__paciente{
        font-size: 1.5rem;
        margin-top: 1em;
        padding-bottom: 0.5em;
        color:$colorAzul;
    }
	
	.testimonio__texto {
	font-size: 1.5rem;
	line-height: 30px;
	color:gray;
    font-size: $fuente;
	&::before {
		content: '\201C';
		font-size: 50px;
		position: relative;
		color:$colorVerde;
		line-height: 20px;
		bottom: -15px;
		right: 5px;
	}
	&::after {
		content: '\201C';
		font-size: 50px;
		position: relative;
		color: $colorVerde;
		line-height: 10px;
		bottom: -15px;
		left: 5px;
	        }
        }
    }
}

span {
	font-size: 1rem;
	color: #333;
}

.titulosPaginas{
    color:$colorAzul;
    font-size: 4rem;
    font-family: "libre Franklin", sans-serif;
    border-bottom:solid 3px $colorAzul;
    margin: 1.5em;
    margin-bottom: 2em;
}

 .escribinos{     
     .escribinos__texto{
         @extend.Visita__titulo;
     }
     .escribinos__boton{    
         display: block;     
         @extend.buttonIcono;
        margin-right: auto;
        margin-left: auto;
        color:$colorAzul;
        border:$colorAzul solid 3px;
        margin-bottom: 3em;
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.53);
        }
     }
 }
/*footer*/

footer{
    background-color: rgba(128, 128, 128,.5);
    line-height: 24px;
}

footer .footerDisenio{
    background-color: rgba(128, 128, 128,.9);
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.redesSociales p{   
    margin-bottom: 0.5em;
}
.redesSociales i{
    font-size: 1.5rem;
   padding: 0.4em;
    text-align: center;
    border: 1px solid rgba(128, 128, 128,1);
    border-radius: 8px;
    width: 100%;
}
footer p{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "libre franklin" sans-serif;
}

footer {
    color: white;
    font-size: 1.5em;    
    font-family: "libre Franklin";
    
}


 a:link{
    text-decoration: none;
    color: white;
}
@media only screen  and (max-width: 800px){
        
    .navbar a{
        font-size: 1rem;
    }
    .foto{
        margin-bottom:-51px;
    }
  
    .iconosContenedor{
        padding-bottom: 7em;

    }
    .contenedorTestimonio{
        display: none;
    }
    .titulo{
        top:20px;
        left:30px;
        font-size:0.8rem;
        font-weight: bold;        
    }
    .subtitulo{
        top:35px;
        left:30px;
        font-size: 0.8rem;
        font-weight: bold;
        }
    .lema{
        top:55px;
        left:25px;
        font-size: 0.7rem;
        font-weight: bold;

    }
    .logo{
        left:-35em;   
        top:0.5em; 
        width: 5%;

    }
    .tituloIconos{
        line-height: 1.5;
        margin-left: 0.5em;
    }
   
    .iconos__texto--titulo,
    .iconos__texto,
    .boton{      
        text-align: center;
        margin-left: 0.5em;
    }
    .contenedorcito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconos{
        margin-right: 1em;
    }      


.redesContacto i{
    padding: 0.5rem;       
    
}

.titulo-estetica{       
    font-size:2rem;     
    margin-bottom:2em; 
    margin-left: 0.5;      
    }

    .tratamientos{
        .tratamientos__estetica{
            font-size: 2rem;
            margin-left: 0.5;
        }
    }
.titulosPaginas{
    margin-left:0;
}
.encabezadoOrto p{
    padding:0;
}
}
@media only screen  and (  min-width: 768px)and (max-width: 1024px){

.iconos, .iconos__texto--titulo{
    margin-left:0;           

}
.iconos__texto--titulo{
    font-size: 1.5rem;
    margin-left: 0.5em;

}
.titulo{
    top:40px;
    left:30px;
    font-size:1.5rem;
    font-weight: bold;        
}
.subtitulo{
    top:70px;
    left:30px;
    font-size: 1.5rem;
    font-weight: bold;
    }
.lema{
    top:105px;
    left:30px;
    font-size: 1.3rem;
    font-weight: bold;

}
.logo{
    margin-top:30px;
    left:-21em;   
    top:0.5em; 
    width: 5%;
}    
.foto{
    margin-bottom:-51.5px;
}
.button--covid{
    margin-top: 3.2em;
}

}
@media only screen  and (  max-width: 360px){
    .foto{
        margin-bottom:-51.5px;
    }
}
@media only screen  and (max-width: 320px){
    .titulo,
    .subtitulo,
    .lema{
        font-size: 0.7rem;
        left:0.2rem;
    }
    .lema,
    .subtitulo__estetica{
        display: none;
    }
    .logo{
        margin-left:42em;
        margin-top:0.5em;
    }
    .foto{
        margin-bottom:-51.5px;
    }
    .navbar-brand{
        font-size: 1rem;
    }
    .navbar-toggler{
        margin-left:10em;
        margin-top:-1.7em;
    }
    .titulosPaginas{
        font-size: 3rem;
        margin-left: 0;
    }
    .titulo-estetica{
        font-size: 2.3rem;
    }
    .tratamientos__estetica{
        margin: 0;
        border-bottom:none;
    }
    .encabezadoOrto p{
        text-align: left;
        padding: 0.5em;
    }
    .redesContacto{
        font-size: 2rem;
    }

    .boton{
        margin-left:0;
    }
    .buttonIcono:hover{
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }
    
 }
 @media only screen  and (  min-width: 1024px)and (max-width: 1278px){
    .navbar a{
        font-size: 1rem;
    }
    .foto{
        margin-bottom:-56px;
    }
    
    .carousel{
        margin-left: 13em;
    }
    .buttonIcono{
        margin-bottom: 6em;
    }
    .button--covid{
        margin-top: 3.5em;
    }
    .titulo,
    .subtitulo,
    .lema{
        font-size: 2rem;        
        left:0.2rem;
    }
    .logo{
        margin-left:43em;
 }
 .subtitulo{
     top:2.5em;
 }
    .lema{
        top:4em;
    }
    .carousel{
        width:100%;
        margin-left: auto;        
        margin-top: 16em;
        } 

}
